<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/32850052-e8fe-4f43-925d-6442d5858c2a/resourcegroups/Spring2024-Assignment1-cyrusg20240923145153ResourceGroup/providers/Microsoft.Web/sites/Spring2024-Assignment1-cyrusg20240923145153</ResourceId>
    <ResourceGroup>Spring2024-Assignment1-cyrusg20240923145153ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spring2024-assignment1-cyrusg20240923145153.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>c1f0cc84-52b1-478e-b90f-c39a5720f24c</ProjectGuid>
    <MSDeployServiceURL>spring2024-assignment1-cyrusg20240923145153.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>Spring2024-Assignment1-cyrusg20240923145153</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$Spring2024-Assignment1-cyrusg20240923145153</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>